<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a href="@Url.Action("Dashboard", "Home")">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>



        <li><a href="@Url.Action("Index", "Clientes")">Cliente</a></li>


        <li><a href="@Url.Action("Index", "TipoClientes")">Tipo de Cliente</a></li>


        <li><a href="@Url.Action("Index", "TipoUsuarios")">Tipo de Usuário</a></li>


        <li><a href="@Url.Action("Index", "TipoVeiculos")">Tipo de Veículo</a></li>

        <li><a href="@Url.Action("Index", "Usuarios")">Usuário</a></li>

        <li><a href="@Url.Action("Index", "Veiculos")">Veículo</a></li>

        <li><a href="@Url.Action("Index", "VeiculosClientes")">Veículo Cliente</a></li>


    </ul>
    <!-- sidebar menu end-->
</div>
