@model IEnumerable<Cohen.TCC.Dominio.Cliente>

@{
    Layout = "~/Views/Shared/_DashboardDados.cshtml";
    ViewBag.Title = "Cliente - Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnh_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_cadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_inativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nm_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nm_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cnh_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_cadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_inativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tipo_cliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tipo_cliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tipo_cliente })
        </td>
    </tr>
}

</table>
