@model IEnumerable<Cohen.TCC.Dominio.Usuario>

@{
    Layout = "~/Views/Shared/_DashboardDados.cshtml";
    ViewBag.Title = "Usuário - Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_cadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_inativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nm_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nm_senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_cadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_inativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tipo_usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tipo_usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tipo_usuario })
        </td>
    </tr>
}

</table>
