@model IEnumerable<Cohen.TCC.Dominio.Veiculo>

@{
    Layout = "~/Views/Shared/_DashboardDados.cshtml";
    ViewBag.Title = "Veículo - Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_veiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nu_placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nu_porta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_cadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_inativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_veiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nu_placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nm_cor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nu_porta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_cadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_inativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tipo_veiculo }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tipo_veiculo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tipo_veiculo })
        </td>
    </tr>
}

</table>
